@model GetHair_Egypt.Models.Clinic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CImage1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CImage1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CImage2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CImage2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CImage3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CImage3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CImage4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CImage4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
